@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
body {
  text-align: center;
  font-size: 30px;
  font-family: 'Mansalva', cursive;
  background: url("https://media.freestocktextures.com/cache/a3/05/a305de79268b0b227baf58ee2752e68d.jpg");
}
#links {
  animation-name: fade-in;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0, 0.5, 0.8, 0.9, 1)
}

@keyframes fade-in {
  0% {
    transform: translateY(10px);

  }
  100% {
  }
}
a {
  font-size: 25px;
  text-decoration: none;
  padding: 0px;
  color: #36332e;
}
@media screen and (max-width: 700px) {
  body {
    font-size: 25px;
  }
  a {
    font-size: 20px;
  }
}
a:hover {
  color: #666769;
  font-size: 27px;
}
